main{
    padding-top: 60px;
    padding-bottom: 2rem;
    position: relative;

    .success{
        position: absolute;
        text-align: center;
        z-index: 9999;
        top: 0;
        left: 45%;
        width: 10%;
        background-color: green;
        padding: 0.5rem 1rem;
        transition: all 1.5s;
    }

    .disappear{
        opacity: 0;
    }

    .dashboard-container{

        &>h1{
            color: white;
            text-align: center;
        }

        .form-container{
            padding: 0 5rem;
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            form{
                display: flex;
                margin-left: 1rem;
                
                input{
                    padding: 0.25rem 0.5rem;
                }
            }
        }
        .db-content-container{
            margin-top: 2rem;
            padding: 0 5rem;
            width: 100%;

            .row-container{
                display: flex;
                width: 100%;
                position: relative;
    
                &>form{
                    position: absolute;
                    right: -32px;
                    bottom: 0;
                    height: 32px;
                    width: 32px;
    
                    button{
                        height: 100%;
                        width: 100%;
                        background-color: red;
                        border: 1px solid white;
                        color: white;
                        font-weight: 900;
                        cursor: pointer;
                    }
                }
                .row{
                    display: flex;
                    color: white;
                    border-bottom: 1px solid white;
                    width: 100%;
        
                    &>div{
                        width: calc(20%);
                        padding: 0.25rem 0;
                        border-right: 1px solid white;
                        padding-left: 3px;
                    }
        
                    .id{
                        width: 3rem;
                        border-left: 1px solid white;
                    }
        
                }
            }
    
            .row:first-of-type{
                border-top: 1px solid white;
            }

            .page-selection-container{
                display: flex;
                justify-content: center;
                bottom: 1rem;
                width: 10%;
                left: 45%;
                position: absolute;

                a , p{
                    color: white;
                    font-weight: 600;
                }

                p{
                    margin: 0 1rem;
                }
            }
        }
    }
}