main{
    
    .jumbo-container{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-bottom: 7.5rem;

        img{
            height: 100%;
            width: 100%;
            filter: brightness(0.7);
        }

        .text-container{
            position: absolute;
            text-align: center;
            font-size: xx-large;
            color: white;
            top: 10%;
        }

        .suggested-container{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0 7rem;
            bottom: -7rem;

            &>h1{
                padding-bottom: 1.5rem;
                color: white;
            }
            
            .cards-container{
                display: flex;

                .card{
                    z-index: 1;
                    backdrop-filter: brightness(0.5) blur(5px);
                    color: white;
                    width: calc(25% - 2rem);
                    margin: 0 1rem;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    padding-bottom: 2rem;
                    box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.35);
    
                    &>div{
                        margin-bottom:2rem;
                        padding: 0 2rem;
                    }

                    &>div:last-of-type{
                        margin: 0;
                    }
    
                    .image{
                        padding: 0;
                        img{
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}