main {
  padding-top: 60px;
  padding-bottom: 2rem;
  position: relative;
}

main .success,
main .error {
  position: absolute;
  text-align: center;
  z-index: 9999;
  top: 0;
  left: 45%;
  width: 10%;
  padding: 0.5rem 1rem;
  transition: all 1.5s;
}

main .success {
  background-color: green;
}

main .error {
  background-color: red;
}

main .disappear {
  opacity: 0;
}

main .dashboard-container > h1 {
  color: white;
  text-align: center;
}

main .dashboard-container .form-container {
  padding: 0 5rem;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

main .dashboard-container .form-container form {
  display: flex;
  margin-left: 1rem;
}

main .dashboard-container .form-container form input {
  padding: 0.25rem 0.5rem;
}

main .dashboard-container .form-container > a {
  background-color: transparent;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-weight: 600;
  transition: all 0.3s;
  text-decoration: none;
  color: white;
}

main .dashboard-container .form-container > a:hover {
  background-color: red;
}

main .dashboard-container .db-content-container {
  margin-top: 2rem;
  padding: 0 5rem;
  width: 100%;
}

main .dashboard-container .db-content-container .row-container {
  display: flex;
  width: 100%;
  position: relative;
}

main .dashboard-container .db-content-container .row-container > form {
  position: absolute;
  right: -32px;
  bottom: 0;
  height: 32px;
  width: 32px;
}

main .dashboard-container .db-content-container .row-container > form button {
  height: 100%;
  width: 100%;
  background-color: red;
  border: 1px solid white;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

main .dashboard-container .db-content-container .row-container .row {
  display: flex;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
}

main .dashboard-container .db-content-container .row-container .row > div {
  width: 20%;
  padding: 0.25rem 0;
  border-right: 1px solid white;
  padding-left: 3px;
}

main .dashboard-container .db-content-container .row-container .row .id {
  width: 3rem;
  border-left: 1px solid white;
}

main .dashboard-container .db-content-container .row:first-of-type {
  border-top: 1px solid white;
}

main .dashboard-container .db-content-container .page-selection-container {
  display: flex;
  justify-content: center;
  bottom: 1rem;
  width: 10%;
  left: 45%;
  position: absolute;
}

main .dashboard-container .db-content-container .page-selection-container a,
main .dashboard-container .db-content-container .page-selection-container p {
  color: white;
  font-weight: 600;
}

main .dashboard-container .db-content-container .page-selection-container p {
  margin: 0 1rem;
}

