main .jumbo-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50vh;
}

main .jumbo-container img {
  height: 100%;
  width: 100%;
  filter: brightness(0.6);
}

main .jumbo-container .text-container {
  position: absolute;
  text-align: right;
  font-size: xxx-large;
  color: white;
  top: 15%;
  right: 10%;
}

main .jumbo-container .text-container em {
  font-style: normal;
  font-weight: 100;
}

main .jumbo-container .suggested-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 7rem;
  bottom: -50%;
}

main .jumbo-container .suggested-container > h1 {
  padding-bottom: 1.5rem;
  color: white;
}

main .jumbo-container .suggested-container .cards-container {
  display: flex;
}

main .jumbo-container .suggested-container .cards-container .card {
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: white;
  width: calc(25% - 2rem);
  margin: 0 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
  border: 2px inset transparent;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

main .jumbo-container .suggested-container .cards-container .card:hover {
  border: 2px solid #ffffff77;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

main .jumbo-container .suggested-container .cards-container .card > div {
  margin-bottom: 2rem;
  padding: 0 2rem;
}

main .jumbo-container .suggested-container .cards-container .card > div:last-of-type {
  margin: 0;
}

main .jumbo-container .suggested-container .cards-container .card .image {
  padding: 0;
}

main .jumbo-container .suggested-container .cards-container .card .image img {
  -o-object-fit: contain;
     object-fit: contain;
}

main .slogan-container {
  color: white;
  text-align: center;
  padding: 3rem 0;
}

